.currencyScreen{
	max-width: 1300px;
	height: 100vh;
	margin: 1rem auto;
	overflow: hidden;
}


.currencyScreen_title{
	font-size: 1.5rem;
	color: black;
	margin-bottom: 1rem;
	margin-left: 8px;
}
.currencyScreen_currency{
		display: grid;
		grid-template-columns: repeat(4, 1fr)
	}

