*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Public Sans', sans-serif;
	background-color: #f4f4f4;
}

/* This will take into account all of the container and make it fit */
img {
	width: 100%;
	object-fit: contain;
}
